.contenedor-categoria {
  width: 100px;
  height: 100px;
  background-color: rgba(214, 106, 182, 0.784);  // Color de fondo, puedes cambiarlo según tus necesidades
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;  // Transición suave para el cambio de color de fondo
}

.contenedor-categoria:hover {
  background-color: #ff8080;  // Color de fondo al pasar el ratón, puedes cambiarlo según tus necesidades
}

.imagen-categoria {
  width: 50px;  // Ajusta el tamaño según tus necesidades
  height: 50px;  // Ajusta el tamaño según tus necesidades
  border-radius: 50%;  // Hace que la imagen sea un círculo
  overflow: hidden;  // Oculta las partes de la imagen que están fuera del círculo
}

.nombre-categoria {
  margin-top: 5px;
  font-size: 12px;  // Tamaño de la fuente, puedes ajustarlo según tus necesidades
  font-weight: bold;  // Negrita
  text-align: center;  // Centra el texto
  color: #fff;  // Color del texto, puedes cambiarlo según tus necesidades
}
