// Inicio.scss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.contenedor-inicio {
  display: flex;
  flex-direction: column;
  background-color: #071E26;
  align-items: center;
  text-decoration: none;
  border: none;
  padding: 20px; // Agrega un espacio de relleno para separar del borde
}

a {
  text-decoration: none;
  color: inherit;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 768px) {
    flex-direction: row; // Cambia a una disposición de fila en pantallas más grandes
    justify-content: space-between; // Añade espacio entre los elementos en la fila
  }
}

.contenedor-filtros, .contenedor-barra {
  width: 100%;
  margin-top: 10px; // Agrega espacio entre contenedores

  @media only screen and (min-width: 768px) {
    width: 30%; // Ajusta el ancho según tus necesidades
    margin-top: 0; // Elimina el espacio superior en pantallas más grandes
  }
}

.contenedor-inicio, .contenedor-principal, .contenedor-filtros, .contenedor-barra {
  color: white;
}

// Agrega estilos adicionales según sea necesario
