// Inicio.scss

.contenedor-inicio {
    display: flex;
    flex-direction: column;
    background-color: #071E26;
    align-items: center;
  
    // Agrega estilos adicionales según sea necesario
  }
  
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .contenedor-filtros, .contenedor-barra {
    width: 100%;
  
   
  }
  
  .contenedor-inicio, .contenedor-principal, .contenedor-filtros, .contenedor-barra {
    color: white;
    
  }
  
 
  @media only screen and (min-width: 768px) {
    .contenedor-principal {
      flex-direction: row; 
    }
  
    
  }