.contenedor-producto{
    width: 1170px;
    height: 369px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06394c;
}
.imagen-producto{
   height: 100%;
   width: auto;
}
.contenedor-informacion{
    text-align: center;
    padding: 40px;
    font-weight: 400;
    line-height: 1.5rem;
}
.nombre-producto{
 font-size: 1.3rem;
 text-align: justify;
}
.valor-producto{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
    text-align: justify;
}
.comercio-disponible-producto{
    font-size: 1.1rem;
    text-align: justify;
}