.seccion-ofertas {
  display: flex;
  background-color: #C58CA3;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
  border: none;
  color: #FCF9FA;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */

  h2 {
    margin: 0; /* Elimina el margen del encabezado */
  }

  a {
    text-decoration: none; /* Elimina la línea bajo el enlace */
    color: #FCF9FA; /* Asegura que el color del enlace sea el mismo que el texto */
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
