.seccion-ofertas {
  display: flex;
  background-color: #C58CA3;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
  border: none;
  color: #FCF9FA;
  justify-content: center; 
  align-items: center;

  h2 {
    margin: 0; 
  }

  a {
    text-decoration: none; 
    color: #FCF9FA; 
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
